<template>
  <div>
    <Header />
    <AuthForm />
  </div>
</template>

<script>
  import Header from "@/components/Header";
  import AuthForm from "@/components/AuthForm";
  export default {
    name: "Auth",
    components: { AuthForm, Header },
  };
</script>
