<template>
  <div>
    <Header />
    <div class="container m-auto pl-4 pr-4 max-w-screen-lg">
      <h2 class="title text-4xl mt-16">Ваши файлы</h2>
      <form @submit.prevent="">
        <input
          type="file"
          v-on:change="this.fileUpload"
          ref="file"
          name="file"
          id="file"
          style="display:none"
        />
        <label
          class="flex items-center justify-center mt-7 py-2 w-24 bg-blue-800 rounded text-white cursor-pointer"
          for="file"
        >
          Добавить
        </label>
      </form>
      <div>
        <CloudTable />
      </div>
    </div>
  </div>
</template>

<script>
  import Header from "@/components/Header";
  import CloudTable from "@/components/CloudTable";
  import { mapActions } from "vuex";
  export default {
    name: "Cloud",
    components: { CloudTable, Header },
    data() {
      return {
        file: "",
      };
    },
    methods: {
      ...mapActions(["postAddFileAction"]),
      async submitFile(file) {
        let formData = new FormData();
        formData.append("file", file);
        await this.postAddFileAction({ form: formData, name: file.name });
      },
      fileUpload() {
        this.file = this.$refs.file.files[0];
        this.submitFile(this.file);
      },
    },
  };
</script>
