<template>
  <div>
    <div :key="userIsLogin.isLogin" />
    <div class="container m-auto pl-4 pr-4 max-w-screen-lg">
      <div class="flex flex-col items-center h-screen">
        <h2 class="title text-6xl mt-40">Облачное хранилище</h2>
        <div class="form-wrapper text-center w-2/5">
          <div class="description mt-16">Введите свою почту и пароль, чтобы начать работу в облачном хранилище</div>
            <form @submit.prevent="submitForm" class="flex flex-col items-center mt-16">
              <div class="w-full mb-5 flex flex-col items-start">
                <input v-model="loginUser" class="w-full border border-gray-200  rounded bg-gray-200  py-2  px-8" v-bind:class="{'border-red-700 bg-red-200 text-red-700': this.userIsLogin.errorLogin}" placeholder="Введите вашу почту" type="text">
                <p v-if="this.userIsLogin.errorLogin" class="text-red-600 ml-4">{{ this.userIsLogin.errorLogin }}</p>
              </div>
              <div class="w-full mb-16 flex flex-col items-start">
                <input v-model="password" class="w-full border border-gray-200 rounded bg-gray-200 py-2 px-8" v-bind:class="{'border-red-700 bg-red-200 text-red-700': this.userIsLogin.errorPassword}" placeholder="Введите ваш пароль" type="password" >
                <p v-if="this.userIsLogin.errorPassword" class="text-red-600 ml-4">{{ this.userIsLogin.errorPassword }}</p>
              </div>
                <button class="py-6 w-40 bg-blue-800 rounded-xl text-white" type="submit">Войти</button>
            </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {mapActions, mapGetters} from 'vuex'
export default {
  name: 'AuthForm',
  data() {
    return{
      loginUser: '',
      password: '',
    }
  },
  computed: mapGetters(['userIsLogin']),
  methods: {
    ...mapActions(['sendLogin']),
    async submitForm () {
          await this.sendLogin({login: this.loginUser, password: this.password})
          this.loginUser = '';
          this.password = '';
    },
  }
}
</script>