<template>
  <div
    @mouseenter="hover = true"
    @mouseleave="hover = false"
    v-bind:class="{ 'bg-blue-50': hover }"
    class="item relative flex py-5 px-6 border-b-2 border-gray-200 items-center"
  >
    <div class="flex w-3/6 items-center">
      <div class="icon w-10 h-10 mr-6">
        <img :src="require(`@/assets/${this.getIcon()}.png`)" alt="xls" />
      </div>
      <div class="name">
        {{ this.getSmallTitle() }}
      </div>
    </div>
    <div class="date w-1/6">{{ this.getDate(item.editedAt) }}</div>
    <div class="size w-1/6">{{ this.getSize(item.size) }}</div>
    <div class="spec w-1/6 flex justify-end items-center" v-if="this.hover">
      <div class="w-7 cursor-pointer">
        <img src="@/assets/edit.png" alt="edit" />
      </div>
      <div class="w-7 ml-7 cursor-pointer" v-on:click="dowloadFile(item.name)">
        <img src="@/assets/download.png" alt="download" />
      </div>
      <div class="w-7 ml-7 cursor-pointer" v-on:click="deleteFile(item.name)">
        <img src="@/assets/delete.png" alt="delete" />
      </div>
    </div>
    <div class="absolute -left-5" v-if="this.hover">
      <input type="checkbox" />
    </div>
  </div>
</template>

<script>
  import { mapActions } from "vuex";
  export default {
    name: "CloudTableItem",
    props: ["item"],
    data() {
      return {
        hover: false,
      };
    },
    methods: {
      ...mapActions(["downloadFileAction", "deleteFileAction"]),
      async dowloadFile(name) {
        await this.downloadFileAction(name);
      },
      async deleteFile(name) {
        await this.deleteFileAction(name);
      },
      hoverItem() {
        this.hover = !this.hover;
      },
      getDate(ms) {
        return new Date(ms).toLocaleString().slice(0, -3);
      },
      getSize(bytes, decimals = 2) {
        if (bytes === 0) return "0 Bytes";
        const k = 1024;
        const dm = decimals < 0 ? 0 : decimals;
        const sizes = ["Б", "КБ", "МБ", "ГБ", "ТБ"];
        const i = Math.floor(Math.log(bytes) / Math.log(k));
        return (
          parseFloat((bytes / Math.pow(k, i)).toFixed(dm)) + " " + sizes[i]
        );
      },
      getIcon() {
        switch (this.item.name.split(".")[1]) {
          case "mp4":
            return "mp4";
          case "docx":
            return "docx";
          case "png":
            return "png";
          case "xls":
            return "xls";
          default:
            return "noimage";
        }
      },
      getSmallTitle() {
        const split = this.item.name.split(".");
        const extension = split[1];
        let fileName = split[0];

        if (fileName.length <= 25) return this.item.name;
        return `${fileName.substring(0, 25)}... .${extension}`;
      },
    },
  };
</script>
