<template>
  <div class="container m-auto pl-4 pr-4 max-w-screen-lg">
    <div :key="userIsLogin.isLogin" />
    <div class="flex border-b-2 border-gray-300 py-4 pl-4">
      <div class="w-3/6">Название</div>
      <div class="w-1/6">Дата изменения</div>
      <div class="w-1/6">Размер</div>
    </div>
    <div class="control flex mt-7 mb-4">
      <button
        class="py-3 px-4 text-blue-700 rounded bg-blue-50 transform hover:scale-110 motion-reduce:transform-none"
      >
        Скачать выбранные
      </button>
      <button
        class="ml-4 py-3 px-4 text-blue-700 rounded bg-blue-50 transform hover:scale-110 motion-reduce:transform-none"
      >
        Удалить выбранные
      </button>
    </div>
    <div class="text-xl text-center" v-if="!this.allFiles.length">
      Нет загруженных файлов
    </div>
    <div class="overflow-y-scroll max-h-80" v-if="this.allFiles.length">
      <CloudTableItem
        class="hover:bg-blue-100 even:bg-blue-50"
        v-for="file in allFiles"
        v-on:click="hover = !hover"
        v-bind:item="file"
        v-bind:key="file.id"
      />
    </div>
  </div>
</template>

<script>
  import { mapActions, mapGetters, mapMutations } from "vuex";
  import CloudTableItem from "@/components/CloudTableItem";
  export default {
    name: "CloudTable",
    components: { CloudTableItem },
    mounted() {
      this.getAllFiles();
      this.refreshAuthStateLogin();
    },
    computed: {
      ...mapGetters(["allFiles", "userIsLogin"]),
    },
    methods: {
      ...mapMutations(["refreshAuthStateLogin"]),
      ...mapActions(["getAllFilesAction"]),
      async getAllFiles() {
        await this.getAllFilesAction();
      },
    },
  };
</script>
