<template>
  <div class="border-b border-gray-200">
    <div class="container m-auto pl-4 pr-4 max-w-screen-lg">
      <div class="header_wrapper flex justify-center items-center " v-bind:class="{'justify-between': this.userIsLogin.isLogin}">
        <router-link to="/">
          <img src="@/assets/title.png" alt="title" class="w-auto h-9 my-4 cursor-pointer ">
        </router-link>
        <div class="exit flex items-center cursor-pointer" v-if="this.userIsLogin.isLogin">
          <img src="@/assets/exit_icon.png" alt="exit" class="w-4 h-4 mr-3">
        <span v-on:click="logout">ВЫЙТИ</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions, mapMutations } from 'vuex'
export default {
  name: 'Header',
  computed: mapGetters(['userIsLogin']),
  mounted() {
    this.refreshAuthStateLogin();
  },
  methods: {
    ...mapMutations(['refreshAuthStateLogin']),
    ...mapActions(['sendLogout']),
    async logout() {
      await this.sendLogout(this.userIsLogin.token);
    }
  }
}
</script>